h1{
	color: purple;
	font-family: fantasy;
	text-align: center;
}

.negro {
	background-color: rgb(0, 0, 0);
	height: 100%;
	width: 12.2%;
	float: left;
}

.blanco {
	background-color: rgb(255, 255, 255);
	height: 100%;
	width: 12.2%;
	float: left;
}

.linea{
	height: 20%;
	width: auto;
	clear: left;
}

body{
	height: 320px;
	width: auto;
	background-color: rgb(0, 255, 255);
	
}

/* Pantalla pequeña */
@media (max-width: 420px) {
	body{
		height: 150px;
	}
}

/* Pantalla mediana */
@media (min-width: 421px) and (max-width: 900px) {
	body{
		height: 250px;
	}
}